body {
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  background: #f4f4f4;
}

header {
  background: #333;
  color: white;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

footer {
  margin-top: 40px;
  padding: 15px;
  background: #222;
  color: white;
}
